#add file names to ignore
venv/
backend/db.sqlite3
backend/.env
backend/media/uploads/*
__pycache__
.coverage

# exception to the rule
!backend/media/uploads/.gitkeep 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history