#add file names to ignore
venv/
backend/db.sqlite3
__pycache__
backend/mail_serv/config.py
.coverage

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history