<!-- templates/registration/password_reset_confirm.html -->

{% block content %}

{% if validlink %}
<br>
<body style= "background-color:#ff6464">
    

<h1>
    <font size="6"
    face="verdana"
    color="white">
    Set a new password!
    </font>
</h1>
<font size="3"
face="verdana"
color="white">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}
</font>
<p><center> 
<font size="8"
face="verdana"
color="white">
<h3>COMMUNITY CANVAS</h3>

</center></p>
</font>




</body>